#arrow-icon {
	position: fixed;
	bottom: 30px;
	left: 55vw;
	transform: translateX(-50%);
	cursor: pointer;
}

#arrow-icon img {
	width: 40px;
	height: 40px;
	animation: arrow 1s 5;
}

#arrow-icon:hover img {
	animation-play-state: paused;
}

@keyframes arrow {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}