.navbar-container {
	display: flex;
}

.main-container {
	display: flex;
}

.flex-container {
	display: grid;
}

.page-title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 25px;
	padding-top: 30px;
	margin-bottom: 25px;
}

.home-pic img {
	position: fixed;
	float: right;
	width: 85vw;
	height: 100vh;
	z-index: 0;
}

.text-box {
	position: relative;
	z-index: 1;
	align-items: center;
	width: auto;
	height: auto;
	padding: 0;
	color: floralwhite;
}


#arrow-container {
  position: relative;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 2;
}

.fa-arrow-circle-down {
  font-size: 40px;
  color: #fff;
  animation: arrow 1s infinite;
}

#arrow-container:hover .fa-arrow-circle-down {
  animation-play-state: paused;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
