.navbar-container {
	display: flex;
}

.main-container {
	display: flex;
}

.page-tile {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 25px;
	padding-top: 30px;
	margin-bottom: 25px;
}