/* navbar.css */
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    list-style: none;
}

.sidebar {
  width: 15vw;
  height: 20000vh;
  background-color: #fff;
  margin-left: 15px;
  padding: 10px;
  font-size: 16px;
  font-family: Times, "Times New Roman", Georgia, serif;
  color: #333;
  z-index: -1;
}

.logo img {
  width: 50%;
  height: auto;
  margin-bottom: 5px;
  margin-left: 0%;
}

.nav-links {
	margin-left: 15px;
}

.nav-link {
  display: block;
  padding: 4px;
  text-decoration: none;
  color: #444;
}

.dropdown .nav-link {
	padding-bottom: 2px;
}

.dropdown-menu {
	display: block;
	margin-left: 12px;
}

.dropdown-nav-link {
	font-size: 14px;
	text-decoration: none;
	color: #666;
}

.nav-link:hover {
	color: black;
	font: bold;
	font-size: 18px;
}

.dropdown-nav-link:hover {
	color: #222;
	font: bold;
	font-size: 16px;
}

.active {
	color: black;
	font: bold;
}
