<!-- navbar.html -->
<link rel="stylesheet" href="navbar.css">
<nav class="sidebar">
	<div class="logo">
		<a href="index.html"><img src="https://joeleephotogallary.oss-cn-beijing.aliyuncs.com/Components/logo.png"
				alt="logo"></a>
	</div>
	<ul class="nav-links">
		<li><a href="index.html" class="nav-link" data-url="index.html">Home</a></li>
		<li class="dropdown">
			<a href="year_2023.html" class="nav-link">Year <i class="fa fa-chevron-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="year_2021.html" class="dropdown-nav-link" data-url="year_2021.html">2021</a></li>
				<li><a href="year_2022.html" class="dropdown-nav-link" data-url="year_2022.html">2022</a></li>
				<li><a href="year_2023.html" class="dropdown-nav-link" data-url="year_2023.html">2023</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="travel_Sichuan.html" class="nav-link">Travel <i class="fa fa-chevron-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="travel_Gansu.html" class="dropdown-nav-link" data-url="travel_Gansu.html">Gansu, 2021</a>
				</li>
				<li><a href="travel_Fujian.html" class="dropdown-nav-link" data-url="travel_Fujian.html">Fujian,
						2022</a></li>
				<li><a href="travel_Sichuan.html" class="dropdown-nav-link" data-url="travel_Sichuan.html">Sichuan,
						2023</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="others_Tsinghua.html" class="nav-link">Others <i class="fa fa-chevron-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="others_Tsinghua.html" class="dropdown-nav-link"
						data-url="others_Tsinghua.html">Tsinghua</a></li>
				<li><a href="others_film.html" class="dropdown-nav-link" data-url="others_film.html">Film</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="writings_XiNanFiveEpisodes.html" class="nav-link">Writings <i class="fa fa-chevron-down"></i></a>
			<ul class="dropdown-menu">
				<li><a href="writings_XiNanFiveEpisodes.html" class="dropdown-nav-link"
						data-url="writings_XiNanFiveEpisodes.html">西南五章</a></li>
			</ul>
		</li>
		<li><a href="about.html" class="nav-link" data-url="about.html">About Me</a></li>
		<li><a href="contact.html" class="nav-link" data-url="contact.html">Contact</a></li>
	</ul>
</nav>